GITHUB_ORG=your-github-org
GITHUB_OAUTH_CLIENT_ID=your-github-oauth-client-id
# TLS_CERT=/path/to/server.crt
# TLS_KEY=/path/to/server.key
SUPABASE_ACCESS_TOKEN=your-supabase-access-token
# SUPABASED_CONFIG=supabased.toml
